li {
    color: black;
}

.slider-txt {
    /* background-color: #ca28a7cc; */
    background-image: linear-gradient(to right, rgba(35, 24, 102, 0.9), rgba(182, 7, 182, 0.9));
    margin-left: 14%;
    margin-top: 20%;
    max-width: 400px;
    border-radius: 2%;
    /* background-color: #221b49cc; */
    /* background-color: linear-gradient(to right,#ca28a7cc, 221b49cc); */
}

.img-height {
    min-height: 500px !important;
}
.cursor {
    background-color: rgb(177, 3, 168);
    border-radius: 10%;
    color: black;
}
.icon {
    color: rgb(177, 3, 168);
}

.slider-img {
    min-height: 300px !important;
}
.siddi-button {
    background-color: rgb(166, 70, 134);
    border-radius: 3%;
    color: white;
    font-weight: 700;
}
.siddi-txt {
    color: rgb(14, 5, 97);
}

.txt-white {
    color: white;
}

.home-pay-now {
    background-color: rgb(115, 119, 224);
    color: white;
}

.message {
    background-image: linear-gradient(to right, rgba(81, 67, 175, 0.9), rgba(184, 84, 184, 0.9));
}
.txt-small {
    font-size: 13px;
}
.blog-txt {
    background-color: rgb(216, 216, 39);
}
.program-bg-blue {
    background-image: linear-gradient(to right, rgba(53, 38, 148, 0.9), rgba(78, 26, 161, 0.9));
    width: 30%;
}

.program-bg-Carmine {
    background-color: rgb(170, 31, 152);
    width: 30%;
}

.career-border {
    border: 1px solid rgb(228, 33, 235);
    border-radius: 2%;
    padding: 20px;
}

.siddi-heading {
    color: rgb(206, 7, 173);
}
.program-condition {
    background-color: rgb(42, 6, 199);
    color: white;
}

@media screen and (max-width: 800px) {
    .slider-txt {
        padding-top: 0;
        margin: 0px;
    }

    .slider-heading {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    .slider-para {
        font-size: 13px;
        margin: 0;
        padding: 0;
    }
    .slider-button {}
}